.book_img {
  display: block;
  position: relative;
    text-align: center;
    transition: border 0.3s; /* Optional: Smooth transition */
}

.book_img:hover {
    border: 2px solid #436efc;
    cursor: pointer;
}


.book_img:hover .add_to_cart {
    opacity: 0 !important; /* Show button on hover */
}


.swiper_navigation_container .prev {
  display: block;
  position: absolute;
  top: 88% !important;
  left: 33%;
  z-index: 99999999999;
}


.book_nav_prev {
  display: block;
  position: absolute;
  top:1100px !important;
  left: 300px !important;
  z-index: 99999999999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ED553B;
  outline: none ;
  color: #ED553B;
  background-color: #fff;
  transition: all .5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.book_nav_next {
  display: block;
  position: absolute;
  top:1100px !important;
  right: 300px !important;
  z-index: 99999999999;
    width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ED553B;
  outline: none ;
  color: #ED553B;
  background-color: #fff;
  transition: all .5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


